@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
	--font-jetbrains: "JetBrains Mono", monospace;
	--font-inter: "Inter", sans-serif;
	--color-gruvbox-dark-bg: #2d2d2d; 
	--color-gruvbox-dark-lighten-bg: #a89984;
	--color-gruvbox-light-bg: #fbf1c7; 
	--color-gruvbox-dark-red: #fb4934; 
	--color-gruvbox-light-red: #9d0006;
	--color-gruvbox-dark-green: #b8bb26; 
	--color-gruvbox-light-green: #98971a;
	--color-gruvbox-dark-yellow: #fabd2f; 
	--color-gruvbox-light-yellow: #d79921;
	--color-gruvbox-dark-aqua: #458588;
	--color-gruvbox-dark-orange: #fe8019;
	--color-gruvbox-dark-gray: #45556c; 
	--color-rhino: #31356D;
	--color-rose: #F7B4AA;
	--color-light-rhino: #36407A;
	--color-light-rose: #ffaabb;
}

* {
	scrollbar-width: none;
}
